#defaultFont {
    font-family: "Droid Sans Mono", monospace;
    font-size: smaller;
    color: #000000;
}

#footer {
    font-size: x-small;
    vertical-align: bottom
}

#table {
    border-style: solid;
    border-width: thin;
    border-color: silver;
}