<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasker Repository</title>
    <link rel="stylesheet" th:href="@{/static/default.css}">
</head>
<body>
<div class="containerUser">
    <form id="taskForm" th:action="@{/tasks/alltasks}" th:object="${UserTasks}" method="post">
        <h2>all tasks <i th:text="${'@' + Username}">username</i></h2>
        <br/>
        <table class="tasksTable">
            <thead>
            <tr>
                <th>idx</th>
                <th>task</th>
                <th>
                    <a th:href="@{/tasks/alltasks/sort/bypriorityasc}">&#9650;</a>
                    priority
                    <a th:href="@{/tasks/alltasks/sort/byprioritydesc}">&#9660;</a>
                </th>
                <th>
                    <a th:href="@{/tasks/alltasks/sort/byfromdateasc}">&#9650;</a>
                    from date
                    <a th:href="@{/tasks/alltasks/sort/byfromdatedesc}">&#9660;</a>
                </th>
                <th>
                    <a th:href="@{/tasks/alltasks/sort/byduedateasc}">&#9650;</a>
                    due date
                    <a th:href="@{/tasks/alltasks/sort/byduedatedesc}">&#9660;</a>
                </th>
                <th>9
                    <a th:href="@{/tasks/alltasks/sort/byaddtimeasc}">&#9650;</a>
                    create time
                    <a th:href="@{/tasks/alltasks/sort/byaddtimedesc}">&#9660;</a>
                </th>
                <th>options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task, taskStat : ${UserTasks}">
                <td th:text="${taskStat.count}">1</td>
                <td th:text="${task.getTask()}">user's task</td>
                <td th:text="${task.getPriority()}">priority</td>
                <td th:text="${task.getFromDate()}">2020-01-01</td>
                <td th:text="${task.getDueDate()}">2020-01-02</td>
                <td th:text="${task.getAddTime()}">timestamp</td>
                <td>
                    <a th:href="@{'/tasks/alltasks/edit/' + ${task.getId()}}">edit</a>
                    <a th:href="@{'/tasks/alltasks/delete/' + ${task.getId()}}">delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <br/>
        <fieldset th:align="right">
            <a th:href="@{/tasks/newtask}">Add new task</a>
        </fieldset>
        <br/>
        <br/>

    </form>
    <form id="form" method="post" th:action="@{/logout}">
        <fieldset>
            <button type="submit">Logout</button>
        </fieldset>
        <fieldset>
            <p class="copyright">&copy; 2020 by born to code</p>
        </fieldset>
    </form>
</div>
</body>
</html>