<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasker Repository - Error</title>
    <link rel="stylesheet" th:href="@{/static/default.css}">
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">

<div class="container">
    <form id="form">

        <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

        <fieldset>
            <a href="/" th:href="@{/}">Back to Home Page</a>
        </fieldset>

    </form>
</div>

</body>
</html>