<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasker Repository</title>
    <link rel="stylesheet" th:href="@{/static/default.css}">
</head>
<body>

<div class="container">
    <form id="form">
        <h3>Tasker Repository</h3>
        <h4>...define your way to productivity</h4>

        <br/>

        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <br/>
        <br/>


        <fieldset>
            <a th:href="@{/signup}">
                <button name="button" type="button">Sign-up</button>
            </a>
            <br/>
        </fieldset>

        <fieldset>
            <a th:href="@{/signin}">
                <button name="button" type="button">Sign-in</button>
            </a>
        </fieldset>
        <br/>
        <br/>
        <p class="copyright">&copy; 2020 by born to code</p>
    </form>
</div>
<br/>
<br/>

</body>
</html>