<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasker Repository</title>
    <link rel="stylesheet" th:href="@{default.css}">
</head>
<body id="defaultFont">
<table>
    <tr>
        <td><h2>Tasker Repository</h2></td>
    </tr>
    <tr>
        <td style="font-size: smaller">...define your way to productivity</td>
    </tr>
</table>
<br/>
<br/>
<table>
    <tr>May you want:</tr>
    <tr>
        <td>
            <a th:href="@{/signup}">Sign-up</a><br/>
        </td>
    </tr>
    <tr>
        <td>or..<br/></td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/signin}">Sign-in</a><br/>
        </td>
    </tr>
</table>
<br/>
<br/>
<footer id="footer">
    &copy; 2020 by born to code
</footer>
</body>
</html>