<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasker Repository</title>
</head>
<body style="font-family: 'Droid Sans Mono',monospace; font-size: smaller">
<table>
    <tr>
        <td><h2>Tasker Repository</h2></td>
    </tr>
    <tr>
        <td>
            <a   th:href="@{/signup}">Sign-up</a><br/>
        </td>
    </tr>
    <tr>
        <td>or..<br/></td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/signin}">Sign-in</a><br/>
        </td>
    </tr>
</table>
<br/>
<br/>
<footer style="font-size: x-small;vertical-align: bottom">
    &copy; 2020 by born to code
</footer>
</body>
</html>