<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasker Repository - add new task</title>
    <link rel="stylesheet" th:href="@{/static/default.css}">
</head>
<body>
<div class="containerAuthorization">
    <form id="form" th:action="@{/tasks/newtask}" method="post">
        <h3>add new task</h3>
        <br/>
        <fieldset>
            <label for="task">new task:</label>
            <input id="task" name="task" placeholder="your task" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <label>priority:</label>
            <label><input id="priorityH" name="priority" type="radio" value="H">H</label>
            <label><input id="priorityM" name="priority" type="radio" value="M">M</label>
            <label><input id="priorityL" name="priority" type="radio" value="L">L</label>
        </fieldset>
        <fieldset>
            <label for="fromDate">from date:</label>
            <input id="fromDate" name="fromDate" placeholder="from date:" type="date" tabindex="2" required>
        </fieldset>
        <fieldset>
            <label for="dueDate">due date:</label>
            <input id="dueDate" name="dueDate" placeholder="due date:" type="date" tabindex="3" required>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="button" data-submit="...sending">Add new task</button>
        </fieldset>
        <fieldset>
            <button name="reset" type="reset">Reset form</button>
        </fieldset>
        <fieldset>
            <a th:href="@{/tasks/alltasks}">Back to all tasks</a>
        </fieldset>

        <br/>
        <br/>
        <p class="copyright">&copy; 2020 by born to code</p>
    </form>
</div>
</body>
</html>