<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasker Repository - Registration</title>
</head>
<body>
<table style="font-family: 'Droid Sans Mono',monospace; font-size: smaller">
    <tr>
        <td><h2>Sign-up in Tasker Repository</h2></td>
    </tr>
</table>

<form method="post" th:action="@{/signup}" id="registerForm">

    <table style="
            font-family: 'Droid Sans Mono',monospace;
            font-size: smaller;
            border-style: solid;
            border-width: thin;
            border-color: silver;
    ">
        <tr>
            <td><label for="username">username:</label></td>
        </tr>
        <tr>
            <td><input type="text" name="username"/><br/></td>
        </tr>
        <tr>
            <td><label for="email">e-mail:</label></td>
        </tr>
        <tr>
            <td><input type="text" name="email"/><br/></td>
        </tr>
        <tr>
            <td><label for="password">password:</label></td>
        </tr>
        <tr>
            <td><input type="password" name="password"/><br/></td>
        </tr>
        <tr>
            <td><label for="confirm">confirm password:</label></td>
        </tr>
        <tr>
            <td><input type="password" name="confirm"/><br/></td>
        </tr>
        <tr>
            <td th:align="left"><input type="submit" value="Sign-up"/></td>
            <td><a th:href="@{/index}"><input type="button" th:value="Back"></a></td>
        </tr>
    </table>
</form>

</body>
</html>